*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-color: aqua;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: 1s; /* Время эффекта */
}
img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
}

.search-form {
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background: #f4f4f4;
  background: rgba(244, 244, 244, 0.79);
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
  width: 339px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.search-form input,
.search-form button {
  float: left;
}
.search-form input {
  background: #fefefe;
  border: none;
  font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  margin-right: 5px;
  padding: 10px;
  width: 216px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4) inset, 1px 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
.search-form input:focus {
  outline: none;
  box-shadow: 0 0 4px #0d76be inset;
  -moz-box-shadow: 0 0 4px #0d76be inset;
  -webkit-box-shadow: 0 0 4px #0d76be inset;
}
.search-form input::-webkit-input-placeholder {
  font-style: italic;
  line-height: 15px;
}

.search-form input:-moz-placeholder {
  font-style: italic;
  line-height: 15px;
}

.search-form button {
  background: rgb(52, 173, 236);
  background: -moz-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(52, 173, 236, 1)),
    color-stop(100%, rgba(38, 145, 220, 1))
  );
  background: -webkit-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -o-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -ms-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: linear-gradient(to bottom, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
  border: none;
  color: #fff;
  cursor: pointer;
  font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  padding: 10px;
  width: 106px;
  box-shadow: 0 0 2px #2692dd inset;
  -moz-box-shadow: 0 0 2px #2692dd inset;
  -webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}
.search-form button:hover {
  opacity: 0.9;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
.load-more {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  background: rgb(52, 173, 236);
  background: -moz-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(52, 173, 236, 1)),
    color-stop(100%, rgba(38, 145, 220, 1))
  );
  background: -webkit-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -o-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: -ms-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  background: linear-gradient(to bottom, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
  border: none;
  color: #fff;
  cursor: pointer;
  font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  padding: 10px;
  width: 106px;
  box-shadow: 0 0 2px #2692dd inset;
  -moz-box-shadow: 0 0 2px #2692dd inset;
  -webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
}

/* Article List */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 120px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gallery li {
  height: 450px;
  overflow: hidden;
}

.gallery img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery a {
  text-decoration: none;
  color: #2a2a2a;
}
